/* Style for main screen */
*{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

/* Styles for NAV anchor on the left and time cout on the right */
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header a {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    color: pink;
}

header h2 {
   font-size: 20px;
} 

/* Style for main box */
main{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    
    margin-top: 160px;
    
    
}
/* Style for container that hold main content */
#container {
    display: block;
    text-align: center;
    width: 40%;
    /* border: 3px solid black; */
    
}

/* Style for the questions when game started */
#question-container {
    display: block;
    text-align: left;
    width: 40%;
    /* border: 3px solid black; */
}

/* Style for h3 content that switching during the game */
main h3 {
    /* border: 3px solid black; */
    font-size: 40px;
    font-weight: bold;
}

/* Style for start game screen text */
main p {

    /* border: 3px solid black; */
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

/* Style for all buttons in the website */
button {
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgb(128, 96, 154);
    color: aliceblue;
    border-radius: 6px;
}

/* Style for start button */
#start-button {
    display: inline;
    margin-top: 20px;
    font-size: 25px;
}



/* Style for pop out text with wrong correct text */
h4 {
    font-size: 25px;
    border-bottom: 3px gray solid;
}
/* Style for submit button in the end of the game */
#submit-button {
    font-size: 20px;
}
/* class to hide time after the game */
.hidden {
    display: none;
}
/* Style for score screen */
/* Style for main header */
h1{
    font-size: 30px;
    font-weight: bold;
}

/* style for body */
#score-body {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 160px;
}

/* style for both butons are on the screen */
.score-button {
    display: inline;
    margin-right: 20px;
}

/* style for label text */
#form-label{
    font-size: 20px;
}

/* style for the list items */
li{
    font-size: 20px;
    font-weight: bold;
    background-color: bisque;
}